<div class="Content-container">
  <h1>JavaScript and the Future of Mobile App Development</h1>
  <ul class="Program-info">
    <li>
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-map2"></use>
      </svg>
      <span>Štefánikova 18/25, 150 00 Prague</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-calendar"></use>
      </svg>
      <span>Tuesday, May 14 2019</span>
    </li>
  </ul>
  <h2 class="u-centerText">Program</h2>
  <ul class="Program-details">
    <li>
      <div class="Program-time">17:30 - 18:00</div>
      <div class="Program-detail">Reception &amp; Welcome drinks</div>
    </li>
    <li>
      <div class="Program-time">18:00-18:30</div>
      <div class="Program-detail">
        So What’s Wrong with Mobile Web Apps, Anyway?<br />
        <small>by Matthew Gertner, CEO &amp; Founder of Salsita</small>
      </div>
    </li>
    <li>
      <b>
        <div class="Program-time">18:30-19:00</div>
        <div class="Program-detail">
          Putting the "Progressive" in Progressive Web App<br />
          <small>by Lukáš Kopenec, Senior Full-stack Developer</small>
        </div>
      </b>
    </li>
    <li>
      <div class="Program-time">19:00-19:30</div>
      <div class="Program-detail">Break (Beer and snacks)</div>
    </li>
    <li>
      <div class="Program-time">19:30-20:00</div>
      <div class="Program-detail">
        Navigating the Mobile Build Pipeline<br />
        <small>by Jan Kotrlík, Senior DevOps Engineer</small>
      </div>
    </li>
    <li>
      <div class="Program-time">20:00-21:00</div>
      <div class="Program-detail">Networking happy hour to follow the talk</div>
    </li>
  </ul>
</div>