.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: $c-primary;
  color: $c-text-sec;

  @include respond(tab-port) {
    justify-content: space-around;
  }
}

.TopBar-brand {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1px;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  a {
    text-decoration: none;
    color: $c-text-sec;  
  }
}

.TopBar-toggle {
  display: none;
  position: relative;

  &,
  &::before,
  &::after {
      width: 3rem;
      height: 2px;
      background-color: $c-text-sec;

      @include respond(tab-port) {
        display: inline-block;
      }
  }

  &::before,
  &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
  }

  &::before { top: -.8rem; }
  &::after { top: .8rem; }

  &.visible {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
