.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .TopBar {
    flex: 0 0 6.8rem;
  }
}

.Content {
  flex: 1;
  display: flex;
  position: relative;

  .Sidebar {
    width: 30rem;
    flex: 0 0 30rem;
    height: 100%;

    @include respond(tab-port) {
      position: absolute;
      z-index: 2000;
      top: 0;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .4s;
    }

    &.visible {
      @include respond(tab-port) {
        transform: scaleX(1);
      }
    }
  }

  main {
    flex: 1;
    overflow: auto;
  }
}

.Content-container {
  padding: 3rem;
  height: 100%;
  position: relative;
}
